
.bethistory {
    width: 100%; 
    display: inline-block;
    border-radius: 6px;
    padding: 0 40px;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: top;
}  
.bethistory table{
    width: 100%;
    color:white;
    border:none;
    border-radius: 6px;
    font-family: 'Azo';
    overflow: hidden;
    background-color: #17152a;
}
.bethistory table thead{
    
    background-color: #17152A;
   
}
.bethistory table thead th{
    padding: 25px 0;
   
   
}
.bethistory table tbody tr td{
    padding: 25px 0;
    color:white;
 
}

.bethistory table tbody tr:nth-child(odd){
    background-color: #1D1B33;
    color:white;
    
}
.bethistory table tbody tr td:nth-child(4){
    color:rgb(255, 50, 228);
    
}
.bethistory table tbody tr td:last-child{
    color:green;
}

.bethistory table tbody tr.loose td:last-child {
    color: red;
}

    
.stats{
    display:flex;
    flex-direction:row;
    color:white;
    margin-bottom: 20px;
    width:100%;
    justify-content: center;
    align-items: flex-start;
}
.stats .statsgauche{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
    width: 500px; 
    height: 100%;
}
.stats .statsgauche .statsgauchehaut{
    height: 242px;
    background-color: #17152a;
    display: flex;
    border-radius: 6px;
    margin: 0 30px 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.stats .statsgauche .statsgauchehaut1{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    background: linear-gradient(120deg, #F970FE 0%, #B33CED 65%, white 35%);
    border-radius: 50%;
    margin-top: 38px;
    
}
.stats .statsgauche .statsgauchehaut1rond{
    width: 80%;
    height: 80%;
    background-color:#17152a;
    border-radius: 50%;
    overflow: hidden;
    
}
.stats .statsgauche .statsgauchehaut1carré{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color:#17152a;
    bottom:-50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-bottom: 5px;
}

.stats .statsgauche .statsgauchehaut h3 span{
    text-align: center;
    color:white;
    margin-bottom:0 ;
    margin-top:15px;
    font-size: 1rem;
    font-family: 'Azo';
    
}
.stats .statsgauche .statsgauchehaut h3{
    text-align: center;
    color:white;
    margin-bottom:0 ;
    margin-top:20px;
    font-size: 3rem;
}
.stats .statsgauche .statsgauchehaut h4{
    text-align: center;
    color:white;
    margin-bottom:0 ;
    margin-top: 0px;
    font-family: 'Azo Bold';
    font-size: 1.5rem;
}
.stats .statsgauchebas{
    position:relative;
    height: 242px;
    background-color: #17152a;
    border-radius: 6px;
    vertical-align: top;
    margin-top:36px;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
}
.stats .statsgauchebas .imggauchebas{
    position:absolute;
    left:0;
    bottom:0;
    
}

.stats .statsgauchebas1{
    position:absolute;
    bottom: 5px;
    left:0;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.stats .statsgauchebas1 img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.stats .statsgauchebas1 .statsgauchebas2{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.stats .statsgauchebas1 .statsgauchebas2 h2{
    font-size:50px;
    margin: 0;
    text-align: left;
    line-height: 1;

}
.stats .statsgauchebas1 .statsgauchebas2 p{
    font-size:30px;
    margin: 0;
 }
.stats .statsdroit{
    height: 520px;
    background-color: #17152a;
    border-radius: 6px;
    margin: 0px 30px 0 0;
    width: 100%;
}
.stats .statsdroit h3{
    padding-left: 20px;
    text-align: left;
}

.profile-separator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 0 40px;
    margin: 40px 0 10px 0;
}


.profile-separator * {
    margin: 0;
}

.profile-separator .separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.158);
    margin-left: 15px;
    flex-grow: 3;
}

.profile-separator h3 {
    font-variant: small-caps;
}


@media screen and (max-width: 1100px) {
    .stats {
      flex-direction: column;
    }
  
    .stats .statsgauche {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 40px;
    }

    .stats .statsgauche .statsgauchehaut {
        height: 240px;
        margin-top: 0;
    }

    .stats .statsgauche .statsgauchebas {
        height: 240px;
        margin-top: 0;
    }

    .stats .statsdroit {
        margin: 0 40px;
        width: calc(100% - 80px);
    }

    .stats .statsdroit h3 {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .stats .statsgauche {
        flex-direction: column;
        padding: 0 20px;
    }

    .stats .statsgauche .statsgauchehaut {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .stats .statsgauche .statsgauchehaut,
    .stats .statsgauche .statsgauchebas {
        width: 100%;
    }

    .stats .statsdroit {
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    .bethistory {
        padding: 0 20px;
    }
}

@media screen and (max-width: 500px) {
    .bethistory table thead tr th:nth-child(4),
    .bethistory table tbody tr td:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .bethistory table thead tr th:nth-child(2),
    .bethistory table tbody tr td:nth-child(2) {
        display: none;
    }
}