/*Desktop View*/
.header {
  background: rgb(8,6,26);
  background: linear-gradient(90deg, rgba(8,6,26,1) 0%, rgba(23,21,42,1) 0%);
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
} 
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px ;
}

.logo-header {
  width: 45px;
  height: 45px;
}
.nav-options {
  padding-left: 25px;
  gap: 25px;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center  
}
.mobile-option {
  display: none;
}
.option a{
  color:white;
	text-decoration:none;
  white-space: nowrap;
}
.option :hover {
  color: white;
}

.container-left{
  gap: 25px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}

.container-right{
  display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin:auto 25px;
  gap: 25px;
}
.container-right .coins{
	display: flex;
	flex-direction: row;
	align-items:center;
	color:white;
  border: none;
  background-color: #27253B;
  border-radius: 5px;
  padding: 5px 10px;
  padding-right: 5px;
}

.container-right .coins .coins-piece {
  width: 20px;
  margin-left: 5px;
}

.container-right .coins div {
	background: linear-gradient(120deg, #F970FE, #B33CED);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.container-right .coins div img {
  width: 100%;
  height: 100%;
}

.banner-left button {
  background: linear-gradient(120deg, #F970FE, #B33CED);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 25px;
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 50px;
}

@media (max-width: 1220px) {
  .nav-options {
    margin-right: 25px;
    justify-content: flex-end;
  }
  .container-right{
    margin: 0px;
  }

}

@media (max-width: 800px) {
  /*Mobile View | old value: 648px*/
  .header {
    padding: 0px 10px;
  }
  .header.fixed {
    position: fixed;
    z-index: 9999;
    top: 0px;
  }
  .logo-nav {
    justify-content: flex-start;
  }
  .logo-header {
    width: 45px;
    height: 45px;
  }
  .logo-container{
    margin-left: 25px;
  }

  .nav-options {
    background: linear-gradient(90deg, rgba(8,6,26,1) 0%, rgba(23,21,42,1) 0%);
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    flex-direction: column;
    grid-gap: 0px;
    justify-content: flex-start;
    
  }
  
  .nav-options.active {
    left: 0;
    transition: all 0.3s linear 0s;
    align-content: center;  
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  .container-left{
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    grid-gap: 0;
  }
  .container-right{
    flex-direction: column;
    margin-top: 10px;
    gap: 25px;
    margin-left: 0px;
    align-items: center;
  }
  .banner-left button{
    margin: 0px;
  }
  .container-right .coins{
    margin: 0px;
  }

}
.mobile-menu {
  display: block;
}
